{% extends "gabari.html" %}
{% block content %}
  <h1 class="newH1">Liste de nos Ouvrages</h1>
  <form class="search-container" method="GET">
    <input class="search-input" type="text" name="querryTitle" placeholder="Rechercher un titre ou ISBN" value="{{querry}}">
    <input class="search-submit" type="submit" value="Soumettre">
  </form>
  <div class="container-des-livres">
  {% for b in book %}
      {% if b.reserved %}
        <a href="{% url 'book_detail' book_id=b.isbn %}" class="livreR">{{b.title}}</a>
      {% else %}
        <a href="{% url 'book_detail' book_id=b.isbn %}" class="carte-livre">{{b.title}}</a>
      {% endif %}
  {% endfor %}
  </div>
{% endblock %}
 